<h2 class="text-center">{{foundUser.username}} Profile</h2>
<h4 class="text-center">Role: {{foundUser.role}}</h4>
<div class="d-flex flex-row justify-content-around mt-4">
    <div class="card" style="width: 18rem;">
        {{!-- <img src={{profileImg}}> --}}
        <p class="text-center">This is {{foundUser.username}} summoner profile</p>
    </div>
    <div class="card" style="width: 18rem;">
        {{!-- <img src={{profileImg}}> --}}
        <p class="text-center"> {{foundUser.summonerName}} Level: {{lvl}}</p>
        <ul>
            <li>{{info.[0].tier}} {{info.[0].rank}}</li>
            <li>League Points: {{info.[0].leaguePoints}}</li>
            <li>Wins: {{info.[0].wins}}</li>
            <li>Losses: {{info.[0].losses}}</li>


        </ul>
    </div>
</div>
<a href="/profile/{{foundUser._id}}/update" class="card-link">Update</a>
<a href="/profile/{{foundUser._id}}/delete" class="card-link">Delete</a>