<h2 class="text-center">{{username}} Profile</h2>
<div class="d-flex flex-row justify-content-around mt-4">
    <div class="card" style="width: 18rem;">
        {{!-- <img src={{profileImg}}> --}}
        <p class="text-center">This is {{username}} summoner profile</p>
    </div>
    <div class="card" style="width: 18rem;">
        {{!-- <img src={{profileImg}}> --}}
        <p class="text-center"> {{summonerName}}</p>
    </div>
</div>
<a href="/profile/{{_id}}/update" class="card-link">Update</a>
<a href="/profile/{{_id}}/delete" class="card-link">Delete</a>