<div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <img src="{{image}}" class="w-100" alt="champImage">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
        <h2 class="mt-0">{{name}}</h2>
        <h4 class="mt-0">{{title}}</h4>
        <p>Lore: {{lore}} </p>
        <p>Ally Tips: {{allytips.[0]}}</p>
        <p>Enemy Tips{{enemytips.[0]}}</p>
        <h3>Passive Skill</h3>
        <p>Name: {{passive.name}}</p>
        <p>Description: {{passive.description}}</p>
        <a href="/championsList" class="btn btn-dark">Go back</a>
    </div>
</div>